.user-profile {
    width: 80%; /* Đặt chiều rộng của trang là 80% */
    max-width: 1200px; /* Giới hạn chiều rộng tối đa của trang là 1200px */
    /*margin: 50px auto; !* Căn giữa trang *!*/
    margin-right: 245px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    display: flex; /* Sử dụng flexbox */
    flex-direction: column; /* Đặt layout theo chiều dọc */
    align-items: center; /* Canh giữa các thành phần theo chiều ngang */
}

.cover-photo {
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    margin-bottom: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -70px; /* Đẩy avatar lên trên 50px để nằm phía dưới của ảnh bìa */
    margin-left: 30px; /* Thay đổi giá trị margin-right để dịch avatar sang phải */
    z-index: 1; /* Đảm bảo avatar được hiển thị trên cùng */
}

.profile-info {
    text-align: center; /* Canh giữa nội dung */
}

.profile-info h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.profile-info p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

.profile-details {
    margin-bottom: 20px;
}

.edit-profile-btn {
    padding: 10px 20px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-profile-btn:hover {
    background-color: #0e63b1;
}
