.App {
  font-family: Arial, sans-serif;
  /*text-align: center;*/
}

.header {
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #213e74;
  z-index: 1000;
  padding: 10px 0;
}

.content {
  margin-top: 80px; /* Đẩy nội dung chính xuống dưới để không bị che bởi header */
}
